/* texts */
.texts-list {
  list-style: none;
  padding-left: 0.5rem;
}
.texts-list li {
  line-height: 1.7rem;
}
.texts-list li:before {
  content: '_';
}
.post-date {
  margin-right: 0.3rem;
  margin-left: -0.2rem;
  font-size: 0.9rem;
  color: dimgray;
}
