/* post */
.site-content header h1 {
  visibility: hidden;
}
.post-aside {
  position: absolute;
  top: 0;
  right: 0;
}
.post-aside p {
  margin: 0;
}
.site-content {
  margin-bottom: 4rem;
}
.site-content .artwork-image img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  max-height: 720px;
}
.site-content .artwork-image p {
  text-align: center;
}
/* @media (max-width: 960px) {
  .site-content .artwork-image img {
    max-width: 90%;
  }
}
@media (max-width: 640px) {
  .site-content .artwork-image img {
    max-width: 100%;
  }
} */